<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    <title>Document</title>
  </head>
  <body>
      {{>navbar}}

      <div class="container" style="padding: 15%;">
        <div style="text-align: center; font-family: fantasy; font-size:xx-large; color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; ">
          I WELCOME YOU TO MY WEBSITE
        </div>
        
        <div style="text-align: center;">
          DON'T MIND MY WEBSITE AND ALSO FORGET ABOUT THE CSS FOR NOW
        </div>
      </div>

  

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>